<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.fit</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/0xbyte/project/fit/deploy/run.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/0xbyte/project/fit</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/Users/0xbyte/project/fit/.data/launchd.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/0xbyte/project/fit/.data/launchd.log</string>
</dict>
</plist>
